<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="errorConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="contourConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="routesConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="redisHost" value="10.0.0.1"/>
  </appSettings>
  <contourConfig>
    <add key="PROD" value="PROD" />
    <add key="TEST" value="TEST" />
  </contourConfig>
  <routesConfig>
    <add key="10.0.0.0" value="255.0.0.0" />
    <add key="192.168.0.0" value="255.255.0.0" />
  </routesConfig>
  <errorConfig>
    <add key="args" value="Wrong arguments count - should be two. First one is 'True' or 'False' for bypassing this check, second one is either 'None' or a comma delimited list of custom DNS servers." />
    <add key="dnsRedis" value="REDIS: Error getting info from redis. Seems like no key found by address '{0}' in the database(Host name prefix is '{1}')." />
    <add key="contourRedis" value="REDIS: Error getting info from redis. Seems like no key found by address '{0}' in the database. Check bypassed." />
    <add key="dnsConfig" value="IPError: Error in {0} DNS-server configuration for interface '{1}'. Should be '{2}' but was '{3}'." />
    <add key="dnsCount" value="IPError: Error in DNS-server configuration for interface '{0}'. Current DNS-servers count is '{1}'." />
    <add key="routes" value="IPError: Last octet in address of default gateway '{0}' for interface '{1}' is not '1' but static route for '{2}' with mask '{3}' was not found." />
    <add key="oneNetwork" value="IPError: Address '{0}' of interface '{1}' and defualt gateway address '{2}' are out of range for mask '{3}'" />
    <add key="redisError" value="REDIS: Error getting info from redis. Server responded with an error or timeout was exceeded." />
    <add key="bypass" value="0" />
  </errorConfig>
</configuration>
